{% extends "wrapper.html.j2"%}
{% block content %}
    <div class="container content">
      <div class="theme content__block">
        <h4 class="theme__title">Арсенал</h4>
        <ul class="theme__list">
          <li class="theme__item">
            <a class='theme__link' href="/encyclopedia/tutorial/tutorial_cli/">
              Командная строка
            </a>
          </li>
          <li>
            <div class="theme__item">
              <a class='theme__link' href="/encyclopedia/tutorial/tutorial_git/">
                Гит и Гитхаб
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {%endblock%}